body, html {
  height: 100%;
}

div, button, input::placeholder {
  font-family: Cormorant Garamond;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

body {
  /* The image used */
  background-image: url("../images/background.jpeg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.card {
  background: #FDFDFC;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 550px !important;
  width: 550px;
}

/* shared */

.image-leaf {
  background-color: #FDFDFC;
  padding-top: 46px;
  padding-bottom: 30px;
}

/* typography */

@font-face {
  font-family: 'Pushkin';
  src: url('../fonts/Pushkin.ttf') format('truetype');
}

.text {
  color: #2B2B2B;
  line-height: 150%;
}

.handwritten {
  color: #454545;
  font-size: 36px;
  font-family: 'Pushkin';
}

.number {
  color: #454545;
}

.dot {
  font-size: 26px;
}

.title {
  font-size: 24px;
  letter-spacing: 0.15em;
}

/* utils */

.centered {
  margin: 0 auto;
}

.centered > * {
  margin: 0 auto;
}

.content-wrapper {
  width: 373px;
}

/* First Page: Intro */

.first-card .names {
  font-size: 24px;
  letter-spacing: 0.15em;

  padding-top: 15px;
}

.first-card .call {
  font-size: 16px;
  letter-spacing: 0.25em;

  padding-top: 3px;
  padding-bottom: 17px;
}

/* Second card */

.second-card .invitation-text {
  font-size: 24px;
  letter-spacing: 0.15em;
  padding-bottom: 26px;
}

.date-and-place .top-border {
  border-top: 1px solid #2B2B2B;
  padding-bottom: 17px;
  width: 260px;
}

.date-and-place .bottom-border {
  border-bottom: 1px solid #2B2B2B;
  width: 170px;
  padding-bottom: 25px;
}

.date-and-place .date {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.15em;

  padding-bottom: 17px;
}

.date-and-place .place {
  font-size: 24px;
  letter-spacing: 0.15em;
}

.details {
  font-size: 19px;
  padding-top: 38px;
}

/* Thrird card */

/* Form */

.name-container {
  padding-top: 24px;
}

.input-container {
  width: 284px;
}

input[type='text'] {
  background-color: #FDFDFC;
  width: 284px;
  height: 36px;
  outline: 0;
  border-width: 0 0 1px;

  font-size: 19px;
  color: #2B2B2B;
  border-color: #2B2B2B;
  font-family: Cormorant Garamond;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

input[type='text']::placeholder {
  font-family: Cormorant Garamond;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #B4B4B4;
  font-size: 19px;
  text-align: center;
}

.answers {
  padding-top: 30px;
}

.answer-container {
  display: flex;
  padding-top: 19px;
  width: 100%;
}

.answer-container input[type='radio'] {
  transform: scale(1.5);
  margin: 0;
}

.answer-container label {
  letter-spacing: 0.15em;
  margin-left: 37px;
}

.action-container {
  padding-top: 34px;
}

.action {
  background: transparent;
  border: 1px solid #2B2B2B;
  cursor: pointer;
  padding: 24px 0;
  width: 100%;
}

/* Thanks card */

#thanks .image-leaf {
  padding-top: 166px;
}

#thanks .title {
  width: 276px;
}

/* button */

.button {
	pointer-events: auto;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	position: relative;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.button--calypso {
	overflow: hidden;
	color: #fff;
}

.button--calypso span {
	display: block;
	position: relative;
	mix-blend-mode: difference;
	z-index: 10;
}

.button--calypso:hover span {
	animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEnd 0.3s forwards 0.3s;
}

@keyframes MoveScaleUpInitial {
	to {
		transform: translate3d(0,-105%,0) scale3d(1,2,1);
		opacity: 0;
	}
}

@keyframes MoveScaleUpEnd {
	from {
		transform: translate3d(0,100%,0) scale3d(1,2,1);
		opacity: 0;
	}
	to {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

.button--calypso::before {
	content: '';
	background: #000;
	height: 0;
	top: -110%;
	left: -10%;
	border-radius: 50%;
	transform: translate3d(0,68%,0) scale3d(0,0,0);
}

.button--calypso:hover::before {
	transform: translate3d(0,0,0) scale3d(1,1,1);
	transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button--calypso::after {
	content: '';
	background: #000;
	transform: translate3d(0,-100%,0);
	transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button--calypso:hover::after {
	transform: translate3d(0,0,0);
	transition-duration: 0.05s;
	transition-delay: 0.4s;
	transition-timing-function: linear;
}

/* swiper */

.swiper-container {
  width: 550px;
  height: 550px;
}

@media only screen and (max-width: 600px) {
  .swiper-container {
    height: 100%;
    width: 100%;
  }
}

.swiper-pagination-bullet {
  outline: 0;
  height: 16px;
  width: 16px;
  background: transparent !important;
  border: 1px solid #2B2B2B;
}

.swiper-pagination-bullet-active {
  background: #2B2B2B !important;
}
